@mixin status {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 10px;
}

.card {
  width: 95%;
  height: 150px;
  border: solid 1px #dddddd;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  .green {
    @include status;
    background-color: rgb(44, 231, 44);
  }
  .orange {
    @include status;
    background-color: orange;
  }

  .red {
    @include status;
    background-color: red;
  }
}

.title {
  font-size: 12pt;
  margin: 10px 0px 10px 10px;
}

.description {
  margin: 5px 0px 10px 10px;
  overflow-wrap: break-word;
  min-height: 0px;
  font-size: 10pt;
  color: #6d6d6d;
}

.edit {
  color: black;
  text-align: center;
  margin: 0 auto 10px auto;
  display: block;
  width: 60px;
  height: 20px;
  border-radius: 30px;
  padding: 8px 0px 3px 0px;
  text-decoration: none;
  border: solid 1px #b3b3b3;
  font-size: 12px;
  &:hover {
    cursor: pointer;
  }
}

.clear {
  clear: left;
  margin-top: 50px;
}

.fields {
  margin: 0;
}
.fields li {
  float: left;
  width: 50%;
  font-size: 9pt;
}
