@import "./Common.scss";

@mixin status {
  height: 5px;
  width: 25px;
  border-radius: 15%;
  margin: 10px;
}

.card {
  &:hover {
    cursor: pointer;
  }

  width: 95%;
  height: 150px;
  border: solid 0.5px #dddddd;
  border-radius: 10px;
  margin: 10px;
  background-color: #ffffff;
  // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  .green {
    @include status;
    background-color: rgb(44, 231, 44);
  }
  .orange {
    @include status;
    background-color: orange;
  }

  .red {
    @include status;
    background-color: red;
  }
}

.title {
  font-size: 12pt;
  margin: 10px 0px 10px 10px;
}

.memo {
  margin: 5px 0px 10px 10px;
  overflow-wrap: break-word;
  min-height: 0px;
  font-size: 10pt;
  color: #6d6d6d;
}

.clear {
  clear: left;
  margin-top: 50px;
}

.fields {
  margin: 0;
}
.fields li {
  float: left;
  width: 50%;
  font-size: 9pt;
}

.edit {
  @include button;
  margin: 0 auto;
}
