.Header {
  width: 100%;
  height: 50px;
  float: left;
  background-color: #ffffff;
  h1 {
    display: inline-block;
    // color: #ff3c46;
    color: #272727;
    font-size: 20pt;
    margin: 0;
    padding: 10px 0px 5px 5px;
  }
}

.logo {
  float: left;
  width: calc(100% / 3);
}

.filterArea {
  text-align: center;
  float: left;
  width: calc(100% / 3);
  height: 100%;
}

.credential {
  float: left;
  width: calc(100% / 3);
  height: 100%;
}

.filter {
  border: #b3b3b3 solid 1px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 8px;
  height: 13px;
  width: 80%;
  font-size: 12pt;
  padding: 10px;
}
