@import "Common.scss";
.main {
  float: left;
  width: 100%;
  min-height: calc(100vh - 100px);
  background-color: #f6f7f9;
}

.container {
  float: left;
  display: block;
  width: 25%;
  margin: 0 auto;
}

.create {
  @include button;
  margin: 20px 10px 20px 10px;
}

.cancel,
.add,
.update {
  @include button;
  display: inline-block;
  margin: 0px 10px 15px 10px;
}

.progress {
  display: inline-block;
  border-bottom: #464545 solid 1px;
  color: #313131;
  font-weight: bold;
  width: 95%;
  padding: 5px;
  margin: 0px 0px 5px 10px;
  margin-bottom: 0px;
}

#overlay {
  /*　画面全体を覆う設定　*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  z-index: 2;
  width: 400px;
  background: #ffffff;
  border-radius: 10px;
}

.modal-container {
  h2 {
    text-align: center;
  }
  .input {
    display: block;
    width: 90%;
    height: 30px;
    border: #b3b3b3 solid 1px;
    border-radius: 10px;
    margin: 0 auto;
    &:focus {
      outline: none;
    }
    .title {
      font-size: 12pt;
    }
  }
  .memo {
    font-size: 12pt;
    height: 40px;
    resize: none;
  }

  .label {
    color: #333333;
    width: 90%;
    margin: 15px auto 5px auto;
    text-align: left;
  }
  .buttons {
    margin: 0 auto;
    text-align: center;
  }
  .checkbox {
    margin-top: 10px;
    margin-left: 20px;
  }
  .completed {
    color: #333333;
    font-size: 10pt;
  }
}

.delete {
  color: red;
  text-decoration: underline;
  text-align: center;
  margin: 0 0 15px 0;
  &:hover {
    cursor: pointer;
  }
}
